executor: slurm
jobs: 50 # maximum number of parallel cluster jobs
latency-wait: 60
rerun-incomplete: true

# Default resource settings for all rules
default-resources:
  mem_mb_per_cpu: 64G
  runtime: 120 # minutes
  cpus_per_task: 1